[Desktop Entry]
		Type=Application
		Exec=init-script.sh
		Hidden=false
		NoDisplay=false
		X-GNOME-Autostart-enabled=true
		Name=Cork
		Comment=The Script Cork
