[Desktop Entry]
		Type=Application
		Exec=gnome-terminal -- sh -c "script-cork.sh; bash"
		Hidden=false
		NoDisplay=false
		X-GNOME-Autostart-enabled=true
		Name=Cork
		Comment=The Script Cork
