[Desktop Entry]
		Type=Application
		Exec=/usr/local/bin/script-cork.sh
		Hidden=false
		NoDisplay=false
		X-GNOME-Autostart-enabled=true
		Name=<Name_to_be_displayed>
		Comment=<optional comment>
